[user]
    name = Youn Mélois
	email = youn@melois.dev
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFPO/hKBeNBJVbq8yPL13KRBLCn+gpXyNtAs1UyvyP9Z youn@melois.dev
[commit]
    gpgsign = true
[gpg]
    format = ssh
[tag]
	gpgSign = true
