*
!.gitignore
!.nix-channels
!LICENSE

!.cargo
!.cargo/config.toml

!.config

!.config/home-manager
!.config/home-manager/home.nix

!.config/nix
!.config/nix/nix.conf

!.config/nushell
!.config/nushell/completions
!.config/nushell/completions/*.nu

!.config/systemd
!.config/systemd/user
!.config/systemd/user/*.service

!.config/wireplumber
!.config/wireplumber/wireplumber.conf.d
!.config/wireplumber/wireplumber.conf.d/51-mitigate-annoying-profile-switch.conf

!.local
!.local/share
!.local/share/Steam
!.local/share/Steam/steam_dev.cfg
