*
!.gitignore
!.nix-channels
!LICENSE

!.config

!.config/home-manager
!.config/home-manager/home.nix

!.config/nushell
!.config/nushell/completions
!.config/nushell/completions/*.nu

!.local
!.local/share
!.local/share/Steam
!.local/share/Steam/steam_dev.cfg
